.splash
  height: 800px
  color: #fff
  text-align: center
  // background: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.2)), url(/images/splash.jpg) center top / cover no-repeat, #ffffff
  background: linear-gradient(to top, rgba(212, 212, 212, .8), rgba(139, 126, 140, 0.5) 50%, rgba(199, 176, 172, 0.2)), url(/images/splash.jpg) center top / cover no-repeat, #ffffff

  h1
    margin: 0px
    font-family: $sans-serif
    font-weight: 400


